<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>
  <div class="container mt-3">
    <a href="<%= isAuth ? "/channels/add" : "/login?redirect=/channels/add" %>" class="btn btn-primary btn-sm mb-3">Yeni bir Kanal Oluştur</a>
    <br>
    <div class="row">
      <% channels.forEach(channel => { %>
        <div class="col-6">
          <a href="<%= userid != channel.userId ? `/channels/details/${channel._id}`:`/channels/${channel._id}` %> " style="text-decoration: none;">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="<%= channel.logoPath %>" class="img-fluid rounded-start" style="height: 110px; width: 100%; border-right: 1px solid black;" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= channel.title %></h5>
                    <p class="card-text"><%= channel.description %></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>